* {
    font-family: sans-serif;
    font-weight: bold;
}

.my-fieldset-design {
    border: 2px lightgray solid;
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 1px;
}
.flex {
    display: flex;
}

label {
    font-size: 2vh;
}

button {
    width: 100%;
    font-size: 2vh;
    box-shadow: 1px 2px darkgrey;
}

.placeholder-image {
    display: block;
    margin: 5px auto;
    position: relative;
}

p.footer-legal-stuff {
    text-align: center;
    justify-content: space-between;
    font-size: 1.5vh;
}